.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList{
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 15px;
}

.task-is-done{
  opacity: 0.5;
  text-decoration: line-through;
}
.task{
  font-weight: 600;
}
.btn-active{
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  border: 3px solid blueviolet;
  cursor: pointer;
}

.input-error{
  border: 2px solid red;
  outline: none;
}
.error{
  color: red;
}