.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList{
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 15px;
}
.error{
  color: red;
}
.error-input{
  border: 2px solid red;
  outline: red;
}

.task-is-done{
  opacity: 0.5;
  text-decoration: line-through;
}

.btn-active{
  background-color: blueviolet;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid blueviolet;
}